<div class="btn-group bg " role="group" aria-label="Basic example">
  <a routerLink="table" type="button" class="btn btn-secondary ">Main</a>
  <a routerLink="table" type="button" class="btn btn-secondary ">Company</a>
  <a routerLink="repreTable" type="button" class="btn btn-secondary ">Representatives</a>
  <a routerLink="adress2" type="button" class="btn btn-secondary ">Adress</a>

</div>

