<div class="card ">

  <div class="card-header">
    <b>Company</b>
  </div>
  <div class="card-body">
    <p>
      <button class="btn btn-sm btn-info">
        <b>Add Company</b></button>
    </p>
    <table class="table table-responsive-sm">


      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">WebSite</th>
        <th scope="col">Business Type</th>


      </tr>

      <tbody>

      <tr *ngFor="let d of dataToDisplay; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ d?.name }}</td>
        <td>{{ d.country}}</td>
        <td>{{d.website}}</td>
        <td>{{d.type1}}</td>


        <td>
          <button class="btn btn-outline-danger btn-sm" [routerLink]="['/info', d.id]">
            <i class="fas fa-info"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="Delete1(d.id)">
            <i class="fas fa-trash-alt">

            </i>
          </button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="footer">
  <div style="text-align: center; padding: 8px 10px;">Copyright © Company</div>
</div>
