<div class="card">
  <div class="card-header">
    <b>Representative</b>
  </div>
  <div class="card-body">
    <p>
      <button class="btn btn-sm btn-info">
        <b>Add Company</b></button>
    </p>

    <table class="table table-responsive-sm">
      <thead>
      <tr>

        <th scope="col">ID</th>

        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of dataToDisplay; let i = index">
        <th scope="row">{{i+1}}</th>

        <td>{{ m.name }}</td>
        <td>{{ m.lastname }}</td>
        <td>{{m.email}}</td>



        <td>
          <button class="btn btn-outline-danger btn-sm" [routerLink]="['/rep-info', m.id]">
            <i class="fas fa-info"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="Delete(m.id)">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <div style="text-align: center; padding: 8px 10px;">Copyright © Platform Representative</div>
</div>


