<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 p-3">
      <app-header></app-header>
    </div>

    <div class="col-md-10 col-sm-12 ">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>



