<div class="card">
  <div class="card-header">
    <b>Adrees of company</b>
  </div>
  <div class="card-body">
    <p>
      <button class="btn btn-sm btn-info">
        <b>Add Adress</b></button>
    </p>
    <table class="table table-responsive-sm">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">AdressAlias</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">Phone1</th>
        <th scope="col">Phone2</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of dataToDisplay; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ d.adrese}}</td>
        <td>{{ d.country1 }}</td>
        <td>{{ d.city }}</td>
        <td>{{ d.street }}</td>
        <td>{{ d.phone1 }}</td>
        <td>{{ d.phone2 }}</td>


        <td>
          <button class="btn btn-outline-danger btn-sm" [routerLink]="['/adr-info', d.id]">
            <i class="fas fa-info"></i>
          </button>
          <button class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="Delete(d.id)">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="footer">
  <div style="text-align: center; padding: 8px 10px;">Copyright © Platform Adress</div>
</div>


